
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Session["TaiKhoan"] != null)
{
    <h2>Welcome @Session["TaiKhoan"].ToString()</h2>
}
else
{
<div style="background-image: url('https://www.pvmtc.com.vn/wp-content/uploads/2019/07/0caa892e35.jpeg'); width: 100%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <img src="https://www.pvmtc.com.vn/wp-content/uploads/2019/07/0caa892e35.jpeg" style="width: 100%; height: 100%;" />
</div>
}


